.btnCode{background:url(prettify/code.gif) no-repeat 16px 16px;background-position:2px 2px;}
.btnFlv{background:url(mediaplayer/flv.gif) no-repeat 16px 16px;background-position:2px 2px;}
.btnMap{width:50px !important;background:url(googlemap/map.gif) no-repeat center center;}