.ajaxselect{background: url("images/select.png") right bottom no-repeat;}
.selectdivclose{background: url("images/cancel.png") no-repeat;float:right;width:16px;height:16px;cursor:pointer;margin:5px;}
.showSelectOption{border:1px #eee solid;width:200px;padding:0px;position:absolute;z-index:200;display:none;background-color:#fff;}
.showSelectOption ul{list-style:none;margin:0px;padding:0px;}
.showSelectOption li{padding:5px;list-style:none;text-align:left;}
.showSelectOption .over{background-color:#eee;}
.showSelectOption .out{background-color:#fff;}

.mytablecls {border-left: 1px solid #C1DAD7;border-top: 1px solid #C1DAD7;}
.mytablecls td p{width:auto;height:auto;}
.mytablecls th { 
	word-wrap:break-word;width:80px;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 2px 2px 2px 6px;
}
.mytablecls td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 2px 2px 2px 6px;
	height:35px;
}
#header{height:85px}
#leftside, #container, #splitBar, #splitBarProxy{top:90px}
#navMenu a{text-transform:none;}
.searchContent :text{width:80px;}

/*按钮*/